# R artifacts
.Rproj.user/
.Rhistory
.RData
*.log
# *.rds
# *.pdf

# OS files
.DS_Store

# Editor
.vscode/

# Output directories and generated data
dp_global/output/

data_simulation/sample_data_BCI/general_data/
BCI_stem_reconstruction/DATA/
BCI_stem_reconstruction/2_STEM_IDENTIFICATION/comparissons/
BCI_stem_reconstruction/3_PREPARE_R_TABLES/CHECKS/
BCI_stem_reconstruction/3_PREPARE_R_TABLES/VIEWFULLTABLE_CHECKS/
BCI_stem_reconstruction/4_EXAMPLE_STRUCTURE_ASSESSMENT/wd/
BCI_stem_reconstruction/4_EXAMPLE_STRUCTURE_ASSESSMENT/outputs/ba_mc_realizations_treeID/

# Specific ignored files
BCI_stem_reconstruction/1_DATA_PREPARATION/compare_tables1_and_tables2.R
BCI_stem_reconstruction/2_STEM_IDENTIFICATION/3_initial_comparisson_dryad_and_me.R
BCI_stem_reconstruction/DATA/RAW/ViewFullTable_census2022-23.txt
data_paper_and_repo_publication

dp_global/improvements.md

data_paper_documentation